langchain-community
langchain-pinecone
langchain-chroma
langchain-huggingface
langchain-experimental
langchain-openai
langchain-google-genai
langchain-groq
langchain-ollama
torch
pypdf
chromadb
rank_bm25
scikit-learn
python-dotenv
reportlab
sentence-transformers
python-multipart
uvicorn
fastapi
pytest